<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Produce_WebApp</title>
    
</head>
<body>
    
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Produce_WebApp - <a asp-area="" asp-page="/filler">This is a filler link</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
