<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Produce_WebApp</title>
    
</head>
<body>
    <nav class="navbar navbar-light" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Produce</a>
            </div>
            <ul class="nav navbar-nav navbar">
                <li><a href="/Hydration">Hydration</a></li>
                <li><a href="/Sleep">Sleep</a></li>
                <li><a href="/Breaks">Breaks</a></li>
                <li><a href="/ProductivitySummary">Summary</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container fixed-bottom">
            <p class="text-center">&copy; 2020 - Produce_WebApp - Kyle Quinlan <a asp-area="" asp-page="/filler"></a></p></div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
