@page
@model Produce_WebApp.AddAddressModel
@{
    ViewData["Title"] = "AddAddress";
}

<h1>AddAddress</h1>
<h1> </h1>
<form method="post">
    <input type ="text" asp-for="Address.Name" placeholder="Name" />
    <input type="text" asp-for="Address.City" placeholder="city" />
    <button type="submit"></button>
</form>
