@page
@model Produce_WebApp.userData
@{
    ViewData["Title"] = "UserDataInput";
    
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md text-center jumbotron">
                    <h1>Produce</h1>
                    <h6>To find out if you are working to your full capacity please fill in the form. This application utilises homomorphic encryption.</h6>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    @Model.error
                </div>
                <div class="col-md-4">
                    <form method="post" asp-page-handler="test">
                        <input type="text" asp-for="UserDataPlain.Age" placeholder="Age" style="margin-bottom:1em;margin-top:10em;" />
                        <input type="text" asp-for="UserDataPlain.WaterPerDay" placeholder="Water Per Day" />
                        <input type="text" asp-for="UserDataPlain.Sleep" placeholder="Sleep" />
                        <input type="text" asp-for="UserDataPlain.Salary" placeholder="Salary" style="margin-bottom:1em;" />
                        <input type="text" asp-for="UserDataPlain.Breaks" placeholder="Breaks" />
                        <input type="text" asp-for="UserDataPlain.Hours" placeholder="Hours Worked Per Day" />
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </form>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </main>
    <div class="footer fixed-bottom text-center">
        <footer>
            Produce Productivity Application 2020
        </footer>
    </div>
</body>
</html>
