@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="">Welcome! Please press continue to be forwarded to the form page. </h1>
    
</div>
<a href="/forms/UserDataInput">Google</a>