@page
@model Produce_WebApp.ProductivitySummaryModel
@{
    ViewData["Title"] = "ProductivitySummary";
}

<h1>ProductivitySummary</h1>
<p>
    <h1> This is testing content. @Model.Age,@Model.ProductivityLoss</h1>
</p>

