@page
@model Produce_WebApp.ProductivitySummaryModel

@{
    ViewData["Title"] = "ProductivitySummary";
    Layout = "_Layout";
}
    
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/wwwroot/css/site.min.css" asp-append-version="true" />
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                One of three columns
            </div>
            <div class="col-lg-4">
                One of three columns
                @Model.computedDataModel.Age
            </div>
            <div class="col-lg-4">
                One of three columns
            </div>
        </div>
    </div>
            <h1>ProductivitySummary</h1>
            <p>
                <h1> </h1>
            </p>

