@page
@model Produce_WebApp.SleepSummaryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SleepSummary</title>
</head>
<body>
</body>
</html>
